<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}3GramDansLeSang{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon-16x16.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% include('navbar/navbar.html.twig') %}
    <div class="container mx-auto">
        {% block body %}{% endblock %}
    </div>


    </body>
</html>
