{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% for post in posts %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        {% for img in post.image %}
            <img class="w-full" src="{{ vich_uploader_asset(img, "imageFile") | imagine_filter('imagePost') }}" alt="...">
        {% endfor %}

        <div class="px-6 py-4">

            <p class="text-gray-700 text-base">
                {{ post.content }}
            </p>
            <p>
                {{ post.author.email }}
            </p>
            <a href="{{ path('app_post_show', {id:post.id}) }}">Voir</a>

        </div>
        <div class="px-6 pt-4 pb-2">
            <span>Futur hashtag</span>
        </div>
    </div>
    {% endfor %}
{% endblock %}
